body{
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;
    height: 0px;
    background-color: #f9f9fa;
    overflow: hidden;
}

.welcome {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 33px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #F5F6FA;
}
.welcome-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
}
.typebody {
    background-color: #F5F6FA;
    height: 100%;
    width: 100%;
}
.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.header-quanment {
    font-size: 140%;
    margin-left: 15.5%;
    font-weight: 600;
    font-family: Poppins;
}
.header-history {
    font-size: 80%;
    margin-right: 12.5%;
    padding-top: 0.6%;
    font-weight: normal;
    font-family: Poppins;
}

.quantity {
    padding-top: 0.3%;
    margin-right: -0.6%;
    margin-left: -0.6%;
}
.quantity-layout {
    margin-left: 29%;
    margin-top: 3.8%;
    width: 42%;
    height: 70%;
}
.choose-type {
    font-weight: 600;
    font-size: 100%;

}
.cardbody {
    margin: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F5F6FA;
}
.box1 img {
    content: url("../ASSERTS/scale-1.svg");
}
.box1:hover img {
    content: url("../ASSERTS/scale.png");
}

.box1 {
    margin: 5% 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
}
.box1:hover {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}
.box2 img {
    content: url("../ASSERTS/component\ \(1\).png");
}
.box2:hover img {
    content: url("../ASSERTS/component.png");
}
.box2{
    margin: 5% 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
}

.box2:hover {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}
.box3 img {
    content: url("../ASSERTS/beaker.svg");
}
.box3:hover img {
    content: url("../ASSERTS/volume1.png");

}
.box3{
    margin: 5% 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
}
.box3:hover {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}

.card1 {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}
.card2 {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}

.card3 {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}
.Dropdown {
    margin-top: 0px;
    margin-left: 100px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
}
#form > h4 {
    margin-bottom: 0px;
    margin-right: 250px;
    margin-left: 0px;
    float: left;
}
#form2 > h4 {
    margin-bottom: 0px;
    margin-right: 300px;
    margin-left: 0px;
    float: right;
}
#form {
    margin-right: 0px;
    margin-left: 55px;
    font-size: small;
    font-weight: lighter ;
    color: grey;
}
#form2 {
    margin-right: 50px;
    margin-left: 0px;
    font-size: small;
    font-weight: lighter ;
    color: grey;
}

#from {
    width: 208px;
    height: 35px;
    line-height: 3;
    border-radius: .25em;
    font-weight: bold;
    font-size: small;
}
#to {
    width: 208px;
    height: 35px;
    line-height: 3;
    border-radius: .25em;
    font-weight: bold;
    font-size: small;
}
input[type=number] {
    height: 35px;
    width: 200px;
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
 .form{
     width: 40%;
     display:flex;
     flex-direction: column;
     justify-content: center;
 }
 .from{
     margin-right: 6%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-between;
     align-items: center;
 }
 .To{
     margin-left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
}
.welcome {
    text-transform: capitalize;
    font-size: 33px;
    background-color: cornflowerblue;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F5F6FA;
}
.choosebody {
    padding-top: 25px;
    padding-left: 33%;
    text-transform: uppercase;
    font-weight: bold;
}

}
